<section id="service">
  <h1><%= @service.name %></h1>
  <p><%= @service.description %></p>
  <% unless @service.main %>
    <p>Addon available for 
      <% if @service.prerequisites%>
		<% @service.prerequisites.each do |pre| %>
		  <%= pre.name + " " unless pre.name.blank? %>
		<% end %>
	<% end %>
  <% end %>
  
  <p>Available time/cost</p>
  <% @service.available.each do |key,value|%>
	<p><%= available_duration(key) + " for " + value + " dollars." %></p>
  <% end %>
</section>