html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/*


*/


html, body {
	font-size:100%;
}

.container {
	margin:1% 2%;
	background-color:rgba(255,255,255,.8);
	min-height:100%;
	position:relative:
}

.round {
	border-radius: 1em;
	-moz-border-radius: 1em;
	-webkit-border-radius:1em;
}

body {
	padding-bottom:60px;
	background: url(<%= asset_path 'stripe.png' %>);
}

/*---- Header styles for who app */

header {
	background-color:rgb(51,35,0);
}

header img {
	margin: 5px 5px;
	float:left;
	height:50px;
}
header hgroup{
	margin: 0px 0px 0px 60px;
	padding: 10px;
	color: rgb(255,255,255);	
}

header hgroup h1{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:1.75em;
	font-weight:bold;
	background-color:rgb(51,35,0);
	padding:0px;
}

header hgroup h2 {
	font-size:1.15em;
	margin-left:4px;
	margin-top: 2px;
	font-family: Verdana,Geneva,sans-serif;
	font-weight:lighter;
	background-color:rgb(51,35,0);
	padding:0px;
}


/*----++ Sub-Header Navigation Styles */

header nav {
	position: relative;
	top: -68px;
	float:right;
	margin-right:15px;
}

header nav ul {
}

header nav ul li {
	float:right;
}

header nav ul li a {
	display:block;
	width: 68px;
	height:38px;
	background-color: rgb(255,255,255);
	border-right: 2px solid rgb(51,35,0);
	text-decoration: none;
	text-size: 1.1em;
	color: rgb(51,35,0);
	text-align: center;
	padding-top: 30px;
	font-weight:bold;
}

header nav ul li a:hover {
	text-decoration:underline;
	background-color: rgb(252,235,204);
	text-shadow:2px 2px 1px rgb(255,255,255);
	border-top: 2px solid rgb(51,35,0);
	border-bottom: 2px solid rgb(51,35,0);
	padding-top: 28px;
	height: 36px;
}

header nav ul li a:active {
	background-color: rgb(51,35,0);
	color: rgb(255,255,255);
	text-shadow: none;
	text-decoration: none;
}


/*----- Flash Notice Styles */

.flash {
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 1.05em;
	margin: 10px;
	padding: 10px;
}

.notice {
	color: rgb(217, 116, 0);
	border: 4px solid rgb(217,116,0);
	background-color: rgb(255, 246, 145);
}

.success {
	color: rgb(63, 89, 59);
	border: 4px solid rgb(63,89,59);
	background-color: rgb(216, 245, 211);
}

#error_explanation {
	border: 4px solid rgb(255, 0, 0);
	font-family: "Arial Black", Arial, sans-serif;
	width: 98%;
	border-radius:1em;
	-moz-border-radius:1em;
	background-color: rgb(250,250,250);
	
}

#error_explanation h2 {
	color: rgb(255, 255, 255);
	background-color: rgb(255,0,0);
	font-size:1.2em;
	padding: 10px;
}

#error_explanation p {
	font-size: 1em;
	color: rgb(0,0,0);
	font-family: arial, sans-serif;
	margin: 5px;
	background-color: rgb(250,250,250);
}

#error_explanation li {
	font-size: 1.05em;
	font-famly: "Arial Black", Arial, sans-serif;
	color: rgb(130,0,0);
	list-style: bullet;
	margin: 0px 0px 5px 35px;
	background-color: rgb(250,250,250);
}



/*----- Footer Styles */
footer {
	height: 65px;
	background-color:rgb(51,35,0);
	padding:10px;
}

footer p {
	color: rgb(255,255,255);
	font-size: .8em;
	background-color:rgb(51,35,0);
	padding:0px;
}

footer nav {
	float: right;
}

footer nav ul {
}

footer nav ul li {
	float: right;
	position: relative;
	top: -28px;
}

footer nav ul li a {
	color: rgb(255,255,255);
	text-decoration:none;
	padding: 7px;
	border: 1px solid rgb(255,255,255);
}

footer nav ul li a:hover {
	color: rgb(255,255,145);
	text-decoration: underline;
}
