body{
	background:green;
	max-width:900px;
	padding: 10px;
}

hgroup {
	color:white;
	font-family: "Arial Black", Gadget, sans-serif;
	padding: 10px;
}

hgroup h1 {
	font-style: italic;
	font-size: 3em;
}

hgroup h2 {
	margin: 10px 0px 0px 15px;
}

nav{
 border:3px solid rgb(255,255,185);
 display:block;
 height:50px;
 background: rgb(0,80,35);
}

nau ul{

}

nav ul li{
	list-style:none;
	display: inline-block;
	float:left;
	width: 200px;
	height:35px;
	padding-top:15px;
	text-align:center;
}

nav ul li a{
	color:white;
	text-decoration:none;
}

nav ul li a:hover{
	text-decoration:underline;
}

#box {
	border:3px solid rgb(255,255,185);
	background: rgb(255,255,220);
	margin: 15px 0px;
	padding: 5px;
}
