<nav id="quicklinks">
	<ul>
		<li><%= link_to 'Dashboard', dashboard_path %></li>
		<% if current_user.website %>
		<li><%= link_to 'Website', edit_user_websites_path(current_user, current_user.website) %></li>	
		<% else %>
		<li><%= link_to 'Website', new_user_websites_path(current_user, current_user.website) %></li>
		<% end %>
	</ul>
</nav>