<h1>Simplify your Massage Practice's Online Presence</h1>

<p>
	You can use this suite of tools to generate a more vibrant practice.
	The Suite includes all of tools, and knowlege you will need to be
	successful.
</p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>