<!-- Who is Adam? Simplissage's Story, every theripist is a business philosophy, shared resources, current version -->
<h1>Simplissage's Life Story</h1>
<p>Simplissage is dedicated to the service of Massage Therapists who seek to promote thier business online.</p>

<section>
  <h2>Who is Adam?</h2>
  <p>Throughout this site and accross the web you will see lots of tips and videos from Adam. But who is this elusive public figure? And more importantly, why isn't he wearing a cape?</p>
  <p>All joking aside, Adam Fluke is Simplissage's Massage Therapist in residence, and founder. He is a LMT* in Louissianna, and has a practice in New Orleans that he has built-up from zilch.
It is from his expierence that Simplissage was born. At one time Adam was registered for six different online services, paying hundreds of dollars a month because each service charged their little bit.
Frustrated with the time and money it took to create and maintain his online presense he started asking the big questions, "Why is there no service that does everything I know I need to be successful?",
"What would that service look like if it did exist?", "What would help me compete against the <i>big guys</i> in my market?".</p>
  <p>After months of these questions rhueminating in his brain, Adam decided that this service had to be made! It needed to exist because being an independent massage practitioner was hard enough without
the constant hassel of logging into six different sites, and manually doing everyting. One of his most common complaints was that no matter how much he worked it, he ended up doing simple tasks everymonth,
like updating and reviewing his newsletter list based on the contacts he made through the blog, scheduler, and website. And everymonth, the universe would here his cry, "I am a healer, not a typist!"</p>
  <blockquote>"I did online massage marketing the hard way, luckily, now you don't have to."</blockquote>
  <p>*Adam Fluke LMT LA 5490, for more information go to his business site, <a href="healinglotusmassage.com">Healing Lotus Massage</a>.</p>
</section>
<section>
  <h2>Simplissage Version 1.0</h2>
  <p>The current version of Simplissage is the first public release of the software. It allows massage therapists to create and maintain an integrated web presence through: 
    <ul>
      <li>a browser based website editor.</li>
      <li>blogging services.
      <li>an integrated contacts manager.</li>
      <li>an HTML newsletter integrated with the website design and your contacts.</li>
      <li>an online schedule manager that gives you and your clients easy of use.</li>
    </ul>
Version 1.0 was first published on Aug. 1, 2012 and opened to beta testing. It forms the core service for a series of releases that will integrate an ever higher level of 
integration, Search Engine Optimization, automated marketing and list submission, and social media integration. Future releases will include:
    <ul>
      <li>Facebook, Twitter, Linked_in like/follow integration allong with auto-publishing new content.</li>
      <li>Automatic blog and article submission to index sites.</li>
      <li>IPhone and Android application to allow massage therapists easy access to their schedule and for clients to book massages easily.</li>
      <li>Advertising service that will place optimized adds for LMT's on Google Adwords, MSN, and alternative health sites.</li>
    </ul>
    <figure>
	  <blockquote>It forms the core service... that will integrate an ever higher level of integration, SEO*, automated marketing and list submission, and social media integration.</blockquote>
    </figure>
</section>
  