<footer>
  <p>&copy <%= @user.first_name %>  <%= @user.last_name %></p>
  <p>
    <% if @user.business %>
       <%= @user.business %>
    <% else %> 
      Licensed Massage Therapist
    <% end %>
  </p>
  <p>Powered by <a href="http://massage-website.com">Massage Website Guru</a></p>
</footer>