<p>&copy Massage Solutions LLC,</br> 4516 S Johnson St. Suite B,</br> New Orleans LA, 70125</p>

<nav>
	<ul>
		<li><%= link_to "Contact Site Admin", contact_path %></li>
		<li><%= link_to "Affliates", affliate_path %></li>
		<li><%= link_to "About Us", about_path %></li>
	</ul>
</nav>