<hgroup>
	<h1>Simplissage</h1>
	<h2>Web Promotion Tools for Massage Therapists</h2>
</hgroup>

<nav>
	<ul>
		<li><%= link_to "Home", root_path %></li>
		<li><%= link_to "Support", support_path  %></li>
		<li><a href="#">Sign In</a></li>
	</ul>
</nav>