<div id="imageEdit" contenteditible="false">
	<form>
		<label>Location:</label>
		<input id='location' type="text" class="imageField"/>
	    <label>Title:</label>
		<input id='title' type="text" class="imageField"/>
    	<label>Alternate Text:</label>
		<input id='alttext' type="text" class="imageField"/>
	</form>
</div>