<div id="linkEdit" contenteditible="false">
	<form>
		<label>Text:</label>
		<input id='lText' type="text" class="linkField"/>
	    <label>Target:</label>
		<input id='href' type="text" class="linkField"/>
	</form>
</div>