<div id="staticControl">
	<div id="title_div">
		<button id="new_title" onclick="newElem('h1-p')"> Title and Text</button>
		<button id="title_select">Select a different title.</button>
	</div>
	<ul id="header_menu">
		<li class="title_menu_li"><button onclick="newElem('p')"><p>Text<p></button></li>
		<li class="title_menu_li"><button onclick="newElem('h1')"><h1>Title</h2></button></li>
		<li class="title_menu_li"><button onclick="newElem('h2')"><h2>Title</h2></button></li>
		<li class="title_menu_li"><button onclick="newElem('h3')"><h3>Title</h3></button></li>
		<li class="title_menu_li"><button onclick="newElem('h4')"><h4>Title</h4></button></li>
		<li class="title_menu_li"><button onclick="newElem('h5')"><h5>Title</h5></button></li>
		<li class="title_menu_li"><button onclick="newElem('h6')"><h6>Title</h6></button></li>
	</ul>
	
	<div id="new_pic">
		<button id="new_pic_t_x" onclick="newElem('tx')">Image, Title, & Text</button>
		<button id="pic_select">Select a different title.</button>
	</div>
	<ul id="new_pic_menu">
		<li class="image_menu_li"><button onclick="newElem('n')">Picture</button></li>
		<li class="image_menu_li"><button onclick="newElem('c')">Picture w/Caption</button></li>
		<li class="image_menu_li"><button onclick="newElem('x')">Picture w/Text</button></li>
		<li class="image_menu_li"><button onclick="newElem('t')">Picture w/Title</button></li>
		<li class="image_menu_li"><button onclick="newElem('tc')">Picture w/Title & Caption</button></li>
		<li class="image_menu_li"><button onclick="newElem('txc')">Picture w/Title, Text, & Caption</button></li>
	</ul>
	
	<div id="new_elem">
		<button id="newLink" onclick="newElem('l')">Link</button>
		<button id="elem_select">Select a different Element Type.</button>
	</div>
	<ul id="new_elem_menu">
		<li class="elem_menu_li"><button onclick="newElem('map')">Map</button></li>
		<li class="elem_menu_li"><button onclick="newElem('map_c')">Map & Caption</button></li>
		<li class="elem_menu_li"><button onclick="newElem('code')">Code</button></li>
		<li class="elem_menu_li"><button onclick="newElem('hr')">Horizontal Rule</button></li>
	</ul>
		
	<div id="sort">
		<button>Sort</button>
	</div>
</div>