<div id="staticControl">
	<button onclick="newText('h1')">New Title Head</button>
	<button onclick="newText('h2')">New Section Head</button>
	<button onclick="newText('h3')">New Subsection</button>
	<button onclick="newText('p')">New Paragraph</button>
	<button onclick="newImage()">New Picture</button>
</div>