<div id="textControl">
	<button onclick="txtC('bold')" class="textBtn">B</button>
	<button onclick="txtC('italic')" class="textBtn">I</button>
	<button onclick="txtC('underline')" class="textBtn">U</button>
	<button onclick="txtC('indent')" class="textBtn">indent</button>
	<button onclick="txtC('outdent')" class="textBtn">outdent</button>
	<button onclick="txtC('justifyLeft')" class="textBtn">J-Left</button>
	<button onclick="txtC('justifyCenter')" class="textBtn">J-Center</button>
	<button onclick="txtC('justifyRight')" class="textBtn">J-Right</button>
	<button onclick="txtC('insertOrderedList')" class="textBtn">OL</button>
	<button onclick="txtC('insertUnorderedList')" class="textBtn">UL</button>
	<button onclick="newA()" class="textBtn">A</button>
</div>